<!-- app/views/orders/show.html.erb -->
<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Pedido #<%= @order.id %> <small><span class="badge badge-primary"></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>Data da transação</strong> <%= @order.created_at.to_date %></li>
        <li><strong>Valor</strong> <%= @order.donation.name %> [<%= @order.donation_sku %>]</li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <p><strong>Obrigada por sua doação!</strong></p>
    </div>
  </div>
</div>
