<div class="container" id="feedbacks">
  <div>
    <h1>Feedbacks</h1>
    <%@feedbacks.each do |feedback|%>
      <%unless feedback[:done]%>
        <div class="row">
          <div class="feedback-content">
            <p><strong class="strong-color">Frase pesquisada:</strong> <%=feedback[:query]%></p>
            <p><strong class="strong-color">Feedback recebido:</strong> <%=feedback[:content]%></p>
            <p><strong class="strong-color">Resultado da pesquisa:</strong></p>
            <ul>
              <%feedback[:results].each do |result|%>
                  <li class="list-group-item">
                    <strong class="strong-color">método:</strong> <%=result.function_name%>,
                    <strong class="strong-color">classe:</strong> <%=result.klass%>,
                    <%=link_to "/admin/function/#{result.id}/edit",  target: :_blank do%>
                      <i class="fa-solid fa-pen-to-square"></i>
                    <%end%>
                  </li>
              <%end%>
            </ul>
          </div>
          <div class="btn-align-right">
            <%=render 'modal', feedback_id: feedback[:id]%>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>

